body {
  display: flex;
  flex-direction: column;
  background-color: #0f232e0c;
  background-image: url("../Assets/Ellipse\ 5.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

main {
  flex: 1;
}

header {
  background: linear-gradient(to bottom, #20475c 40%, #fff 100%);
  color: #fff;
  padding: 10px;
  width: 100%;
}

.button-header {
  color: white;
  background-color: #0f232e;
  border-color: #eba67c;
  width: 101px;
  height: 34px;
  position: relative;
  top: 10px;
  border-radius: 40px;
  margin-left: 110px;
}

.input {
  background-color: transparent;
  border-radius: 7px;
  border-color: #0f232e;
  position: absolute;
  top: 75px;
  right: 40px;
}

.lupaInput {
  position: absolute;
  right: 145px;
}

.tittle {
  position: absolute;
  left: 350px;
  top: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: inherit;
  font-size: 120px;
  color: #0a181f;
  text-shadow: #eba67c;
  text-shadow: -1px 0 #eba67c, 2px -1px 0 #eba67c, -1px 2px 0 #eba67c,
    1px 2px 0 #eba67c;
  font-weight: bold;
}

.sideBar {
  position: absolute;
  width: 110px;
  height: 100%;
  background-color: #20475c;
}

.menuHamb {
  position: relative;
  top: 130px;
  left: 25px;
  width: 50px;
  height: 35px;
}

.button-side1,
.button-side2,
.button-side3 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  background-color: #0f232e;
  border-color: #eba67c;
  width: 101px;
  height: 34px;
  position: relative;
  top: 400px;
  margin-top: 10px;
  right: 65px;
  border-radius: 40px;
  margin-left: 70px;
}

footer {
  display: flex;
  position: relative;
  gap: 15px;
}

i {
  position: relative;
  left: 300px;
  bottom: 20px;
  color: black;
  width: 20px;
  height: 20px;
}

i:hover {
  color: blue;
}

section {
  display: flex;
  width: 50px;
  height: 50px;
}

p {
  position: relative;
  left: 110px;
  bottom: 35px;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  top: 300px;
}

h2 {
  color: black;
  font-size: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: relative;
  top: 350px;
  left: 200px;
}

.ciudad {
  font-size: large;
  font-family: "Courier New", Courier, monospace;
  position: relative;
  top: 30px;
  left: 700px;
  bottom: 35px;
}
