body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  margin: 0;
}

header {
  background: linear-gradient(to bottom, #20475c 40%, #fff 100%);
  color: #fff;
  padding: 10px;
  width: 100%;
  text-align: center;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: inherit;
  font-size: 30px;
  color: #0a181f;
  text-shadow: #eba67c;
  text-shadow: -1px 0 #eba67c, 2px -1px 0 #eba67c, -1px 2px 0 #eba67c,
    1px 2px 0 #eba67c;
  font-weight: bold;
}

.button-header {
  color: white;
  background-color: #0f232e;
  border-color: #eba67c;
  width: 101px;
  height: 34px;
  position: relative;
  top: 10px;
  border-radius: 40px;
  margin-left: 70px;
}

.flecha {
  position: absolute;
  top: 107px;
  left: 84%;
}
.flecha2 {
  position: absolute;

  right: 80%;
}

.sideBar {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 110px;
  background-color: #20475c;
  height: 100%;
}

.menuHamb {
  position: relative;
  top: 130px;
  left: 25px;
  width: 50px;
  height: 35px;
}

.button-side1,
.button-side2,
.button-side3 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  background-color: #0f232e;
  border-color: #eba67c;
  width: 101px;
  height: 34px;
  position: relative;
  top: 400px;
  margin-top: 10px;
  right: 65px;
  border-radius: 40px;
  margin-left: 70px;
}

label {
  font-size: 20px;
  color: #eba67c;
  margin-bottom: 5px;
  position: relative;
  top: 80px;
  align-items: center;
}

.precio {
  font-size: 20px;
  color: #eba67c;
  position: relative;
  align-items: center;
  top: 120px;
  right: 65px;
}

.comprar1 {
  color: white;
  background-color: #0f232e;
  border-color: #eba67c;
  width: 101px;
  height: 34px;
  position: relative;
  top: 120px;
  border-radius: 40px;
  margin-left: 70px;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 100px;
}

footer {
  font-family: "Courier New", Courier, monospace;
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  top: 400px;
}
